@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #11181c;
  --accent: #05ce78;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-russo-one);
  --container-padding: 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant md {
    padding-inline: 3rem;
  }
}

