@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #11181c;
  --accent: #05ce78;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-russo-one);
  --container-padding: 1rem;
  --breakpoint-xs: 475px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply cursor-pointer outline-none select-none;
}

/* Hide scrollbar for navigation bars */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant md {
    padding-inline: 2rem;
  }
}
